# ========================
# General
# ========================
HELP.md
*.log
*.tmp
*.swp
.DS_Store

# ========================
# Maven
# ========================
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# ========================
# Spring Boot
# ========================
application.properties
application.yml

# ========================
# STS / Eclipse
# ========================
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# ========================
# IntelliJ IDEA
# ========================
.idea/
*.iws
*.iml
*.ipr
out/

# ========================
# NetBeans
# ========================
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# ========================
# VS Code
# ========================
.vscode/

# ========================
# OS Files
# ========================
Thumbs.db

# ========================
# Test & Coverage
# ========================
/src/test/
/coverage/
/uploads